.day-card {
  background: white;
  border-radius: 30px;
  padding: 20px;
  width: 60%;
}

.day-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.day-header h2 {
  font-size: 32px;
  font-weight: 700;
}

.nav-btn {
  width: 45px;
  height: 45px;
  background: white;
  border-radius: 12px;
  border: 1px solid #eee;
  font-size: 26px;
  font-weight: 500;
  cursor: pointer;
}

.divider {
  margin-top: 15px;
  margin-bottom: 25px;
  border: none;
  border-top: 1px solid #ddd;
}

.day-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.subject-text {
  font-size: 12px;
  color: #7d7d7d;
}

.break-bar {
  background: #dbe3ff;
  color: #4f4fd7;
  font-size: 18px;
  padding: 6px 0;
  border-radius: 25px;
  width: 60%;
  margin: 0 auto;
}

.lunch-bar {
  background: #fdecd2;
  color: #c7843c;
  font-size: 18px;
  padding: 6px 0;
  border-radius: 25px;
  width: 60%;
  margin: 0 auto;
}
